.main_container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80vh;
    margin: 0px 200px 100px 200px;
    background-color: green;
}
.container_1{
    background-color: blue;
}

.container_2{
    background-color: red;
}
.sub_1_container_1{
}

.sub_1_container_2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-bottom: 20px;
}
.icon{
    position: relative;
    display: inline-block;
}

.icon input {
    padding-left: 35px; /* space for the icon */
    height: 35px;
    font-size: 14px;
}

.icon svg {
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    fill: #666;
    pointer-events: none; /* prevents blocking clicks in input */
}

.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 15px;
}

.icons svg{
    width: 36px;
    height: 36px;   
}

h1,p{
    text-align: center;
}

p{
    margin:30px 0px;
}



input[type="email"],input[type="password"]{
    padding: 10px 60px;
}

input{
    border-radius: 5px;
    border-color: transparent;
    padding : 5px 15px;
}

input[type="submit"]{
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease ;
}

input[type="submit"]:hover{
    transform: scale(1.05);
}

input[type="submit"]:active{
    transform: scale(0.98);
}

input:focus{
    outline: none;
}

.sub_1_container_3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}


